@font-face {
    font-family: 'WildWords';
    src: url('font/wild-words-roman.ttf') format('truetype');
}

body {
    background-image: url('images/web_bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    font-family: 'WildWords', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white; 
}

header {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 0;
    margin: 0;
}

header .header-image {
    width: 100%; 
    height: auto; 
    display: block; 
}

nav {
    background-color: #b22222; 
    padding: 10px 0;
    border-bottom: 3px solid #7c0a0a; 
}

ul.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px; 
}

ul.navbar li {
    display: inline;
}

ul.navbar li a {
    text-decoration: none;
    color: white; 
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid transparent;
    transition: 0.3s;
}

ul.navbar li a:hover {
    background-color: #7c0a0a; 
    border: 2px solid white;
    border-radius: 5px;
    color: #fff;
}

.welcome-section {
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 15px;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    color: white;
    background-image: url('images/web_bg.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff; 
}

p, ul {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #ffcccb; 
    text-decoration: underline;
}

ul li a:hover {
    color: #ffffff; 
}


footer {
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    border-top: 3px solid #7c0a0a;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}